<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>Mac's To-Do-List</title>
    </head>
    <body>
    <div>
         <h1>Hi Pretty Boy!  </h1>
        <form action="/add" method="post">
            <div>
                <label for=""><strong>Whatchu wanna do nigga</strong> </label>
                <input type="text" name="task" placeholder="Enter a task">
                <button type="submit"> Add</button>
            </div>
        </form><br><br>
        <div>
            <table>
             <tbody>
              
                {%for todo in todos%}
                <tr>
                    <td class="id">{{todo.task_id}} </td>
                    <td class="pending">{{todo.task}} </td>
                    {%if todo.status%}
                        <td class="done">Completed</td>
                    {%else%}
                        <td class="not done">Not Completed</td>
                    {%endif%}
                    <td ><a href="/edit/{{todo.task_id}}" class="editing">Edit</a></td>
                    <td ><a href="/delete/{{todo.task_id}}" class="deleting">Delete</a></td>
                    <!-- <td>
                        <form action="/update/{{todo.task_id}}" method="post">
                            <input type="text" name="task" value="{{todo.task}}">
                            <button type="submit"> Update </button>
                        </form>
                    </td> -->
                </tr>
                {%endfor%}
             </tbody>
             
            </table>
        </div>

</div>
    </body>

</html>