<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <title>Mac's To-Do-List</title>
    </head>
    <body>
    <div>
         <h1>Hi Pretty Boy!  </h1>
        <form action="/add" method="post">
            <div>
                <label for=""> Add A Task</label>
                <input type="text" name="task" placeholder="Enter a task">
                <button type="submit"> Add</button>
            </div>
        </form><br><br>
        <div>
            <table>
             <tbody>
              
                {%for todo in todos%}
                <tr>
                    <td>{{todo.task_id}} </td>
                    <td>{{todo.task}} </td>
                    {%if todo.status%}
                        <td>Completed</td>
                    {%else%}
                        <td>Not Completed</td>
                    {%endif%}
                    <td><a href="/edit/{{todo.task_id}}">Edit</a></td>
                    <td><a href="/delete/{{todo.delete}}">Delete</a></td>
                </tr>
                {%endfor%}
             </tbody>
             
            </table>
        </div>

</div>
    </body>

</html>